/* BACKGROUND */

body {
    background: url("../images/players_background.jpg") no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* AUTH-HEADER */

.navbar {
    background-color: #fdfb50;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 20;
}

.css_auth-image {
    max-width: 40%;
}

.css_auth-switch {
    float: left;
    display: block;
    color: #0275d8;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.css_auth-headline {
    color: #fdfb50;
    text-align: center;
}

/* only LOGIN-FORM */

.css_auth-form {
    left: 50%;
    top: 51%;

    margin: auto;
    padding: 0.5rem;

    position: absolute;

    text-align: center;

    transform: translate(-50%, -49%);

    width: 100%;
    max-width: 20rem;
}

label {
    color: whitesmoke;
}

/* only REGISTER-FORM */

::placeholder {
    color: #b0bec5 !important;
}

.col-form-label-sm {
    font-size: 0.848rem;
}
