/* BACKGROUND */

body {
    background: url("../images/errors_404-looksgoodbutdoesntwork.jpg") no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* ROTATE */

.css_rotate-container {
    position: absolute;
    top: 53%;
}

.css_rotate-middle {
    background-color: #fdfb50;
    color: #0275d8;
    text-align: center;
    transform: rotate(-10deg);
}
