/* BACKGROUND IMAGE */

body {
    background: url("/public/images/background_schlaeger.jpg") no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* HEADER */

h2 {
    color: #fdfb50;
}

/* FONT COLORS */

label {
    color: #f5f5f5;
}

p {
    color: #f5f5f5;
}

/* CARDS */

.card-body {
    background-color: #f1f8e9; /* (alt: #eceff1) */
}

/* NEUEN SPIELER ANLEGEN-/SPIELER BEARBEITEN-BUTTON */

.btn {
    border: 1px solid #fdfb50;
    color: #fdfb50;
}

.btn:hover {
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    color: #0275d8;
}

/* BOTTOM NAVIGATION TAB BAR */

.navbar {
    background-color: #fdfb50;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.navbar svg {
    max-width: 30%;
}

.navbar a {
    float: left;
    display: block;
    color: #0275d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background: #f5f5f5;
    color: #0275d8;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #0275d8;
    color: #fdfb50;
}

/* colors */

colors {
    color: #000; /* black */
    color: #0275d8; /* blue */
    color: #fdfb50; /* tennis-yellow */
    color: #f5f5f5; /* white (alt: #e5e5e5 | #f2f6e9 */
}
