/* BACKGROUND IMAGE */

body {
    background: url("../images/players_background.jpg") no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* HEADER */

.heading {
    background-color: transparent;
    justify-content: center;
}

h1 {
    color: #fdfb50;
    font-weight: bold;
}

/* CARDS */

.card {
    border: 2px solid whitesmoke;
    color: white;
}

.lineimage {
    background-image: url("../images/linie.jpg");
}

.playerblurredimage {
    background-image: url("../images/players_background_blurred.jpg");
    background-size: cover;
}

.card-footer {
    justify-content: space-around;
}

.footer-buttons {
    background-color: #0275d8;
    color: #fdfb50;
    border: 1px solid #fdfb50;
}

::placeholder {
    color: #b0bec5 !important;
}

/* SHOW-TABLE */

.matchdaytable {
    border: none;
    color: white;
    /* font-size: 80%; */
    word-wrap: break-word;
}

.fdg {
    vertical-align: top !important;
    padding-left: 1.4rem !important;
}

/* BIG BUTTON */

.bigbutton {
    background-color: #0275d8;
    color: #fdfb50;
    border: 1px solid whitesmoke;
}

.bigbutton:hover {
    background-color: whitesmoke;
    color: #0275d8;
    border: 1px solid whitesmoke;
}

.interval {
    margin-bottom: 27.5%;
}

/* BOTTOM NAVIGATION TAB BAR */

.navbar {
    background-color: #fdfb50;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

/* Style the links inside the navigation bar */
.navbar svg {
    max-width: 30%;
}

.navbar a {
    float: left;
    display: block;
    color: #0275d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background: #f5f5f5;
    color: #0275d8;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #0275d8;
    color: #fdfb50;
}

/* colors */

colors {
    color: #000; /* black */
    color: #0275d8; /* blue */
    color: #fdfb50; /* tennis-yellow */
}
